table {
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  
  /* ... outras propriedades CSS */
  .meu-div {
  border: 2px solid blue;
}
body {
    color: white;
    background: black;
}

header {

}
