table {
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  
  /* ... outras propriedades CSS */
  .meu-div {
  border: 2px solid blue;
}
body {
    color: white;
    background: black;
}

header {

}
header {
    border: solid 2px rgb(42, 122, 228);
}
section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}
