table {
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  
  /* ... outras propriedades CSS */
  .meu-div {
  border: 2px solid blue;
}
body {
    color: white;
    background: black;
}

header {

}
header {
    border: solid 2px rgb(42, 122, 228);
}
section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px;
}
table {
  width: 80%; /* A tabela ocupará 80% da largura do container pai */
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  text-align: center;
}
table {
  width: 100%;
}

/* Para dispositivos móveis */
@media (max-width: 768px) {
  table, th, td {
    font-size: 12px;
  }
}
